:host {
  display: block;
}

button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  height: 4em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 0em;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button[data-variant="primary"] {
  background-color: #0092d1;
  border: none;
  color: white;
}

button[data-variant="secondary"] {
  background-color: transparent;
  border: 1px solid #0092d1;
  color: #0092d1;
}

button[data-variant="tertiary"] {
  background-color: transparent;
  border: none;
  color: #0092d1;
}

button[data-variant="affirmative"] {
  background-color: #57d100;
  border: none;
  color: white;
}

button[data-variant="warning"] {
  background-color: #d18400;
  border: none;
  color: white;
}

button[data-variant="destructive"] {
  background-color: #d10000;
  border: none;
  color: white;
}

button:hover:not([disabled]) {
  border-radius: 1em;
}

button:active:not([disabled]) {
  border-radius: 2em;
}
