// // Required Core Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// // Optional Theme Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

:host {
  display: block;
}

.carousel {
  height: 400px;
}

.carousel__track {
  height: 100%;
}

.carousel__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.carousel__text {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin:0;
  padding: 2rem;
  font-size: 3rem;
}

.carousel__controls {
    position: absolute;
    width:100%;
    z-index: 2;
    bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.button--icon {
  appearance: none;
  border-radius: 50%;
  border: 1px solid;
  aspect-ratio: 1;
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  background-color: var(--spectrum-sys-color-primary);
  color: var(--spectrum-sys-color-on-primary);
  border-color: var(--spectrum-sys-color-primary);
  cursor: pointer;
  transition: all var(--spectrum-sys-animation-duration);
}

.button--icon:hover {
  border-color: var(--spectrum-sys-color-on-primary);
}
